* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: #2f2f2f;
    font-size: 62.5%;
    font-family: sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    font-size: 1.7rem;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3.3rem;
    background-color: rgb(129, 31, 194);
}

.logo {
    padding: 0.5rem;
    margin-left: 2rem;
    float: left
}

nav ul {
    font-size: 1rem;
    padding: 1rem;
    float: right;
}

nav ul li {
    margin-right: 3rem;
    display: inline-block;
}

nav ul li:hover {
    text-decoration: underline;
}


nav a {
    color: whitesmoke;
    text-decoration: none;
}

footer {
    background-color: rgb(129, 31, 194);
    color: whitesmoke;
    font-size: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 0.3rem;
}

/* Landing Page */
.landing-page {
    height: 600px;
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page h1 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.landing-page h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.landing-page a {
    text-decoration: none;
}

.landing-page a button {
    border: none;
    font-size: 1rem;
    padding: 1rem;
    color: whitesmoke;
    background-color: rgb(129, 31, 194);
    border-radius: 10px;
}

.landing-page a button:hover {
    cursor: pointer;
    color: rgba(245, 245, 245, 0.938);
    background-color: rgba(129, 31, 194, 0.904);
}

/* About Section */
.about-section {
    padding: 1rem;
    max-width: 900px;
    margin: 3rem auto;
}

.about-section h3 {
    font-size: 1.7rem;
    margin: 3rem 0 0 0;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 1rem 0;
}

/* Sign In page */
.sign-in-form,
.sign-up-form {
    font-size: 1rem;
    width: 300px;
    background-color: rgba(129, 31, 194, 0.904);
    color: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.login-form>p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.group {
    margin: 1rem 0;
}

.login-form .button {
    display: inline-block;
    font-size: 1.1rem;
    width: 5rem;
}

.login-form input {
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-top: 0.4rem;
    width: 100%;
    padding: 0.3rem 1rem;
}

.login-form input:focus {
    border: none;
    font-size: 1rem;
}

.sign-in-htm a {
    color: whitesmoke;
    text-decoration: none;
}

.keep-me-logged-in{
    display: flex;
    margin-top: -1rem;
}

.keep-me-logged-in input{
margin-left: -6.5rem;
}

.keep-me-logged-in label{
    margin-left:-6rem ;
    margin-top: 0.6rem;
}


.foot-lnk {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.sign-in-htm .group button,
.sign-up-form .group button {
    border: whitesmoke 3px solid;
    background-color: rgba(129, 31, 194, 0.979);
    color: whitesmoke;
    border-radius: 0.4rem;
    padding: 0.4rem;
    font-weight: 700;
}

.sign-in-htm .group button:hover {
    opacity: 0.93;
    cursor: pointer;
}

.foot-lnk:hover {
    text-decoration: underline;
}

.sign-in-htm p {
    text-align: center;
}

.sign-in-htm p>a:hover {
    text-decoration: underline;
}

/* Sign Up page */
.sign-up-form {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 400px;
    padding: -4rem;
}

.sign-up-form p:first-child {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.sign-up-form input {
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-top: 0.25rem;
    width: 100%;
    padding: 0.3rem 1rem;
}

.sign-up-form .button {
    font-size: 1.1rem;
    width: 100%;
}

.sign-up-form .button:hover {
    opacity: 0.93;
    cursor: pointer;
}

.sign-up-form .foot-lnk {
    font-size: 0.8rem;
    margin-bottom: -1.3rem;
}

.sign-up-form .foot-lnk label a {
    margin-left: 0.2rem;
    color: whitesmoke;
}

/* Home page */
.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.searchbar input {
    width: 50%;
    font-size: 1.1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: none;
    text-align: center;
    background-color: rgba(129, 31, 194, 0.979);
    caret-color: whitesmoke;
    color: whitesmoke;
    height: 2.5rem;
}

.searchbar input::placeholder {
    color: rgba(245, 245, 245, 0.589);
}

.bookmarks-gallery {
    /* width: 80%; */
}

.gallery-controllers {
    display: flex;
    margin: 2rem 1rem;
    justify-content: space-between;
}

.add-btn {
    width: 4.5rem;
    height: 3rem;
    background-color: #811FC2;
    color: whitesmoke;
    font-weight: 600;
    border: none;
    border-radius: .4rem;
    padding: 0.8rem;
    font-size: 1.2rem;
}

.add-btn:hover {
    opacity: 0.8;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10rem;
}

.filters button {

    padding: 0.6rem;
    background-color: red;
    color: whitesmoke;
    font: 1.4rem;
    font-weight: 600;
    background-color: #811FC2;
    border-radius: .4rem;
    border: none;
}

.gallery {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.bookmark {
    display: inline-block;
    height: 10rem;
    width: 20%;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: hsl(276, 72.4%, 44.1%);
    border-radius: 1rem;
    color: whitesmoke;
}

.bookmark:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* View bookmark */
.isfavourite {
    display: flex;
}

.isfavourite label{
    margin-top: 0.5rem;
}

.isfavourite input{
    margin-left: -5rem;
}